{% extends "base.html.twig" %}

{% block meta %}
    {% include "@SuluWebsite/Extension/seo.html.twig" with {
        "seo": publicMarket.seo|default([]),
        "content": content|default([]),
        "localizations": localizations|default([]),
        "shadowBaseLocale": shadowBaseLocale|default(),
        "defaultLocale": app.request.locale
    } %}
{% endblock %}

{% block content %}
    {% if not publicMarket.isActive %}
        <p>{{ "alert.message"|trans }}</p>
    {% endif %}

    <div class="programme__slider max-w-[120rem] relative mx-auto mb-2">

    </div>

    <h1>{{ publicMarket.title }}</h1>

    <p>{{ "townhall.publishedAt"|trans }} {{ publicMarket.publishedAt|date('d/m/Y') }}</p>

    {{ publicMarket.description|raw }}

    {% if publicMarket.documents is not empty %}
        {% for document in publicMarket.documents['ids'] %}
            {% set doc = sulu_resolve_media(document, 'fr') %}
            <a href="{{ doc.url }}" rel="noopener" target="_blank">{{ doc.title }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
